<main>
      <form action="/students/add-student" method="POST">

            <label for="fullname">fullname</label>
            <input type="text" name="fullname" id="fullname">
            <br>            <br>

            <label for="stdnum">student number</label>
            <input type="text" name="stdnum" id="stdnum">
            <br>            <br>

            <label for="grade">grade</label>
            <input type="text" name="grade" id="grade">
            <br>            <br>

            <button type="submit">ADD</button>
      </form>
</main>