<main>
      <% for (const student of students) { %>
            <p>name : <%= student.fullname %></p>
            <p>student number : <%= student.stdnum %></p>
            <p>grade : <%= student.grade %></p>
            <hr>
      <% } %>
</main>  

